.map_image path{
    fill: #ffffff00;
    stroke: #FFFFFF;
    stroke-width: 1px;
    stroke-opacity: 50%;
    transition: fill 0.3s;
}

.map_image path:hover{
    fill: #42ffb0;
    fill-opacity: 50%;
}

.infobulle {
    position: absolute;
    background: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
    white-space: nowrap;
    display: none;
    z-index: 1000;
}

.note-bloc {
    position: absolute;
    background: #fff8dc;
    border: 1px;
    padding: 5px;
    border-radius: 5px;
}

.note-bloc textarea {
    min-width: 200px;
    min-height: 200px;
    font-size: 10px;
    outline: none;
    border-color: lightgray;
}
